body{
	/*background: #00131a;*/
	margin-top: 40px;
	background: linear-gradient(132deg, #404040, black);
	/*background: #1a1a1a;*/

}

.active {
  background-color: #333333;
  color: whitesmoke;
}



/*For About me paragraph */
#aboutmetext{
	color:white;

}

/*For picture */
#Amit{
	float: left;
}

.banner{
	width:100%;
	display: block;
}

.banner .banner-image{
	width: 100%;
	display: block;
	max-height: 82%;
}

button{
	
}

#demo{
	
}

h3{
	font-weight: bold;
	/*color: #99ff66;*/
	/*color:#b2eef7;*/
	color:#96eaf7
}

.jumbotron{
	background: #333;
	color: white;
	margin-top: 0;
	text-align: center;
}

.navbar{
	/* gets rid of white space between navbar and jumbotron */
	margin-bottom: 0;	
}


/*For all page headers */
.page-header{
	background: linear-gradient(200deg, #fdfcfb , #e2d1c3);
	border-top-right-radius: 10px;
 	border-top-left-radius: 10px;
 	border-bottom-right-radius: 10px;
  	border-bottom-left-radius: 10px;
	color:black;
	font-weight: bold;
	font-size: 40px;
	font-family: "Times New Roman", Georgia, Serif;
	text-align: center;
	padding: 1px;
	opacity: 0.9;
}



table,th,td{
	color: white;
	font-family: sans-serif;
	font-size: 20pt;
	border: 3px solid white;
	/*border-collapse: collapse;*/
}

#thani{
	border: 5px solid #999;
	padding: 1px;
	margin: 15px;

}
th,td{
	padding: 10px;
	text-align: center;

}

th{
	background:#999;
}

.whiteboardImages{
	/*background-color: #4CAF50;*/
	background-color:#3f5254;
	color: white;
	font-family: sans-serif;
	
}
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:red;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

